/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color : #ffffff;
    --bg-section : #f6f6f6;
    --bg-footer : #23272a;
    --dark-text : #000000;
    --bg-header : #2c5de9;
    --light-bg : #7689d9;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

body{
    background-color: var(--primary-color);
    font-family: 'Noto Sans', sans-serif;
}

.debug{
    border: 1px solid black;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.button{
    background-color: var(--primary-color) ;
    color: var(--dark-text);
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}

/* header */
header{
    background-color: var(--bg-header);
    font-size: .7rem;
}
.nav-bar{
    width: 55%;
}
.nav-bar a{
    color: var(--primary-color);
}
a{
    text-decoration:none; 
}
.center-flex{
    align-items: center;
}
.jumbo-section{
    background-image: url(/img/jumbo.png);

    background-size: cover;
    background-repeat: no-repeat;
}
.jumbo{
    color: var(--primary-color);
    text-align: center;
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    min-height: 450px;
}
.black {
    background-color: var(--bg-footer);
    color: var(--primary-color);
}
.jumbo p{
    padding: 15px 0;
}

.jumbo-section .container{
    padding-top: 10px;
}

/* main */

.even {
    background-color: var(--bg-section);
}
.space-img{
    width: 60%;
}
.space-text{
    width: 40%;
}

.invert{
    flex-flow: row-reverse wrap;
}
/* footer */
footer{
    background-color: var(--bg-footer);
    color: var(--primary-color);
}

ul{
    list-style: none;
}